apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-deployment-v2
  namespace: k8s
  labels:
    app: inventory-service
    version: v2
spec:
  replicas: 2
  selector:
    matchLabels:
      app: inventory-service
      version: v2
  template:
    metadata:
      labels:
        app: inventory-service
        version: v2
    spec:
      containers:
        - name: inventory-service
          image: briitzacr.azurecr.io/inventory-service:v2
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"