apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: k8s
spec: 
  selector:
    app: order-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP