apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: k8s
spec: 
  selector:
    app: payment-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP