apiVersion: apps/v1
kind: Deployment
metadata:
  name: shipping-deployment-v2
  namespace: k8s
  labels:
    app: shipping-service
    version: v2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shipping-service
      version: v2
  template:
    metadata:
      labels:
        app: shipping-service
        version: v2
    spec:
      containers:
        - name: shipping-service
          image: briitzacr.azurecr.io/shipping-service:v2
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
