apiVersion: apps/v1
kind: Deployment
metadata:
  name: shipping-deployment-v1
  namespace: k8s
  labels:
    app: shipping-service
    version: v1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: shipping-service
      version: v1
  template:
    metadata:
      labels:
        app: shipping-service
        version: v1
    spec:
      containers:
        - name: shipping-service
          image: briitzacr.azurecr.io/shipping-service:v5
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
